* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}
.search-input {
  width: 40%;
  border-radius: 10px;
}
img {
  width: 40px;
  height: 40px;
}
.nav-info {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.container-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  list-style-type: none;
}

li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.sign-btn {
  display: flex;
  flex-direction: column;
}

/*=====================hero section============= */

.hero-container {
  width: 100%;
  height: 65vh;
}

.hero-img {
  width: 100%;
  height: 100%;
}

/* ==================feature ================== */
.featured-title {
  margin-top: 30px;
}

.featured-row {
  width: 80%;
  margin: 20px auto;
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.circle {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid #f57720;
}

.circle-img {
  width: 50%;
  height: 60%;
}
